
<button *ngIf="!newCar" type="button" (click)="addNewCar()">Ajouter une voiture</button>
<div *ngIf="newCar">
  <h2>Ajout d'une voiture</h2>
  <form #carForm="ngForm" (ngSubmit)="onSubmit()">
    <div>Marque: <input [(ngModel)]="newCar.brand" placeholder="Marque" name="brand"/></div>
    <div>Modèle: <input [(ngModel)]="newCar.model" placeholder="Modèle" name="model"/></div>
    <button type="submit">Submit</button>
  </form>
</div>

