<div *ngIf="car">
  <h2>{{car.model}} détails ! </h2>
  <div>Id : {{car.id}}</div>
  <div>Marque : <input [(ngModel)]="car.brand" placeholder="marque" /> </div>
  <div>Model : <input [(ngModel)]="car.model" placeholder="modèle" /> </div>
  <div>prix : {{car.price}}</div>
  <div>Puissance : {{car.horsePower}}</div>
  <div>Poids : {{car.weight}}</div>
</div>
