<div>
  <h1> welcome to {{title}}</h1>
  <button (click)="toggle()">Toggle</button>
  <div *ngIf="isEnable">
    <div *ngFor="let name of names">
      <h2> hello {{name}}</h2>
    </div>
  </div>
</div>
<app-cars></app-cars>

