.carList{
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.carList li{
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: azure;
  margin: 2em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.carList li:hover {
  color: brown;
  background-color: #DDD;
  left: .1em;
}
.carList .text{
  position : relative;
  top: -3px;
}
.carList .badge{
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: cadetblue;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.titre{
  color: brown;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.carlist li.selected:hover{
  background-color: #BBD8DC !important;
  color: white;
}
